<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Open Graph -->
<meta property="og:title" content="{{ site.title }}{% if page.layout == 'page' %} | {% endif %}{{ page.title }}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.github.url }}/assets/img/{{ site.default_bg }}" />

<title>{{ site.title }}{% if page.layout == 'page' %} | {% endif %}{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
{% if site.meta_author %}<meta name="author" content="{{ site.meta_author }}">{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style-page.css">

<!-- Google verification -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

<!-- Bing Verification -->
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<!-- Custom Fonts -->
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/font-awesome/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,300,800,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/vendor/normalize.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/vendor/nprogress.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/vendor/foundation.min.css">

<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style-overwrite.css">

{% if page.mathjax %}
<!--Load Mathjax-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script>
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            TeX: {
                TagSide: "right",
                TagIndent: ".8em",
                MultLineWidth: "85%",
                equationNumbers: {
                   autoNumber: "AMS",
                },
                unicode: {
                   fonts: "STIXGeneral,'Arial Unicode MS'" 
                }
            },
            showProcessingMessages: false
        });
    </script>{% endif %}

<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#{{site.color.secondary}}">
