            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        
                            <img src="{{site.github.url}}/assets/img/mothers/{{ author.avatar }}" class="notepad-post-author-avatar" alt="{{ author.nickname }}'s photo">
                        
                            <span class="author-label">Author</span>
                            <h1><a href="{{ site.github.url }}/{{ author.nickname}}.html">{{ author.nickname}}</a></h1>
                            <p>
                            {% for desc in author.description  %}
                            {{ desc }}
                            {% endfor %}
                            </p>
                    </section>
                </div>
            </div>