<!DOCTYPE html>
<html>
<head>
{% include blog/head_post.html %}
{% assign author = site.data.mothers[page.author] %}
</head>
<body class="post-template" itemscope itemtype="http://schema.org/WebPage">  
    {% include home/nav.html %}
{% if page.imagefeature %}
        <main id="notepad-post-container" class="notepad-post-container intro-effect-sliced" role="main">
            <header class="notepad-post-header">
                <div class="bg-img"></div>
{% else %}
        <main id="notepad-post-container-simple" class="notepad-post-container-simple" role="main">
            <header class="notepad-post-header-simple">
{% endif %}
        {% if page.imagefeature %}
                <div class="notepad-post-title bg-check">
                    <h1>{{ page.title }}</h1>
                    <p>by <strong><a href="{{ site.github.url }}/{{author.nickname}}.html">{{ author.nickname }}</a></strong> &#8212; {% if page.category %}on <strong><a href="{{ site.github.url }}/{{page.category}}.html" data-toggle="tooltip" title="Posts in category {{ page.category }}" rel="tag">{{ page.category }}</a></strong>, {% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
                </div>
                <div class="bg-img"></div>
            </header>
            <button class="trigger bg-check" data-info="Read more"><span>Trigger</span></button>
            <img src="{{ site.github.url }}/assets/img/posts/{{ page.imagefeature }}" alt="cover-image" />
        {% else %}
                <div class="notepad-post-title-simple row">
                    <div class="small-12 columns">
                        <div class="notepad-post-meta-simple">
                            <h1>{{ page.title }}</h1>
                            <p>by <strong><a href="{{ site.github.url }}/{{author.nickname}}.html">{{ author.nickname }}</a></strong> &#8212; {% if page.category  %}on <strong><a href="{{ site.github.url }}/{{page.category}}.html" data-toggle="tooltip" title="Posts in category {{ page.category }}" rel="tag">{{ page.category }}</a></strong>, {% endif %}<strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
                        </div>
                    </div>
                </div>
            </header>
        {% endif %}
        {% if page.imagefeature %}
            <article class="notepad-post-content post">{% else %}<article class="notepad-post-content post tag-simple">
        {% endif %}
                <div>
                    {{ content }}
                    <br>
                    <br>
                    {% include  fb-like.html %}
                </div>
                <!-- <div>
                    {% include  fb-like.html %}    
                </div> -->
                
            </article>
            <div class="cf"></div>
        
        {% include blog/signoff.html %} 
        
            <div class="cf"></div>
    {% include home/footer.html %} 
</main>    
{% include blog/scripts.html %} 
{% include home/js.html %} 
</body>
</html>
