 <!-- About Section -->
    <section class="success" id="background-story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Background Story</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p><span class="drop-caps">O</span> nce upon a time, there are four girls who got together to join a hackathon as a team. They gave a full spirit in participating. However, the result was not what they wanted it to be. So, they registered for another hackathon and gave another full spirit. But again, they failed to be a winner although they had passed to final. Then registered for another hackathon and failed it again and again. </p>
                    <p>Though they failed all hackathons they had been through, their love for software engineering had grown. They had understood that building software products doesn't only need passion and experiences, but also skills and professionalism. </p>
                </div>
                <div class="col-lg-5">
                    <p>Therefore, they created such a character who they called <strong>Catalina</strong>. This character would be a representation of their love to software engineering and their journey to learn more. They will pour a lot of knowledge to this innocent character to make her grow to be a professional software engineer. It doesn't matter which profession she will be, whether it is a data scientist, a mobile developer, a security engineer, or a pure software engineer. </p>
                    <p>Yeah, that's true. This web blog was built to story tell Catalina's learning journey. </p>
                </div>
            </div>
        </div>
    </section>