    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="notepad-post-author-avatar" src="{{ site.github.url }}/assets/img/{{page.image}}" alt="">
                    <div class="intro-text">
                        <span class="name">{{ page.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ page.headline }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>